/* GENERAL */
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-style: normal;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: none;
	padding: 48px;
}

img {
	width: 100%;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.header,
.section,
.section__title {
	margin-bottom: 48px;
}

.section__title {
	font-size: 36px;
	letter-spacing: -0.5px;
}

.grid-3-cols {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 80px;
}

/* HEADER */
.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 80px;
}

.header__info {
	align-self: center;
}

.header__info__title,
.header__info__text {
 margin-bottom: 24px;
}

.header__info__title {
	font-size: 44px;
	line-height: 1.1;
	letter-spacing: -1px;
}

.header__info__text {
	font-size: 18px;
	line-height: 1.6;
}

/* SPECIAL FEATURE */
/* .feature__card__icon {

} */

.feature__card__title {
	font-size: 20px;
	margin-bottom: 16px;
}

.feature__card__text {
	font-size: 18px;
	line-height: 1.7;
}

/* TESTIMONIALS */
.testimonial__box {
	grid-column: 2 / -1;
	align-self: center;
}

.testimonial__box .section__title,
.testimonial__quote {
	margin-bottom: 24px;
}

.testimonial__box .section__title {
	font-size: 24px;
}

.testimonial__quote {
	font-size: 18px;
	font-style: italic;
	line-height: 1.7;
}

/* BESTSELLERS */
.best__card__content {
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 24px
}

.best__card__title {
	font-size: 20px;
}

.best__card__list {
	display: flex;
	flex-direction: column;
	gap: 24px
}

/* .best__card__list__icon {

} */

.best__card__buy {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.buy__price {
	font-weight: bold;
}

/* FOOTER */
.footer__info {
	font-size: 14px;
}