/* GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-style: normal;
	list-style: none;
	scroll-behavior: smooth;
	transition: 0.3s ease;
}

@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
	font-style: italic;
}

:root {
	--main-font: "Inter", sans-serif;
	--main-color: #343a40;
	--secondary-color: #fff;
	--third-color: #495057;
	--accent-color-first: #087f5b;
	--accent-color-second: #099268;
	--accent-color-third: #c3fae8;
}

body {
	font-family: var(--main-font);
	font-optical-sizing: none;
	color: var(--main-color);
	padding: 48px;
	border-bottom: 8px solid var(--accent-color-first);
}

img {
	width: 100%;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.header,
.section,
.section__title {
	margin-bottom: 48px;
}

.section__title {
	font-size: 36px;
	letter-spacing: -0.5px;
}

.grid-3-cols {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 80px;
}

.button:link,
.button:visited {
	background-color: var(--accent-color-first);
	color: var(--secondary-color);
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 100px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

.button:hover,
.button:active {
	background-color: var(--accent-color-second);
}

.button-big {
	font-size: 18px;
	padding: 16px 32px;
}

.button-small {
	font-size: 14px;
	padding: 8px 12px;
}

img {
	border-radius: 12px;
}


/* HEADER */
.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 80px;
}

.header__info {
	align-self: center;
}

.header__info__title {
	font-size: 44px;
	line-height: 1.1;
	letter-spacing: -1px;
	margin-bottom: 24px;
}

.header__info__text {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 24px;
}

/* SPECIAL FEATURE */
.feature__card__icon {
	stroke: var(--accent-color-first);
	width: 32px;
	height: 32px;
	margin-bottom: 24px;
}

.feature__card__title {
	font-size: 20px;
	margin-bottom: 16px;
}

.feature__card__text {
	font-size: 18px;
	line-height: 1.7;
}

/* TESTIMONIALS */
.testimonial-section {
	color: var(--secondary-color);
	background-color: var(--accent-color-first);
	padding: 24px;
	border-radius: 12px;
}

.testimonial__box {
	grid-column: 2 / -1;
	align-self: center;
}

.testimonial__box .section__title,
.testimonial__quote {
	margin-bottom: 24px;
}

.testimonial__box .section__title {
	font-size: 24px;
}

.testimonial__quote {
	font-size: 18px;
	font-style: italic;
	line-height: 1.7;
}

.testimonial__author {
	color: var(--accent-color-third);
}

/* BESTSELLERS */
.best__card {
	box-shadow: 0 20px 30px 0px rgba(0, 0, 0, 0.07);
	border-radius: 12px;
}

.best__img {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.best__card__content {
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.best__card__title {
	font-size: 20px;
}

.best__card__list {
	display: flex;
	flex-direction: column;
	gap: 24px
}

.best__card__icon {
	stroke: #087f5b;
	width: 24px;
	height: 24px;
}

.best__card__buy {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	align-items: center;
}

.buy__price {
	font-weight: bold;
}

/* FOOTER */
.footer__info {
	font-size: 14px;
	color: var(--third-color);
}